USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 5/29/2020 2:03:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[ID_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[FOLIO] [int] NOT NULL,
	--[ID_CLIENTE] [int] NULL,
	[K_RAZON_SOCIAL] [int] NOT NULL,
	[FOLIO_FISCAL] [varchar](50) NULL,
	[NOMBRE_RECEPTOR] [varchar] (250) NOT NULL,
	[RFC_RECEPTOR] [varchar] (12) NOT NULL,
	[EMAIL] [varchar] (255) NOT NULL,
	[USO_CFDI] [varchar] (10) NOT NULL,
	[SERIE] [varchar](10) NULL, --??
	[K_ESTATUS_FACTURA] [int] NOT NULL,
	[FECHA_CERTIFICACION] [datetime] NULL,
	[FECHA_EMISION] [datetime] NULL,
	[NO_CERTIFICADO_SAT] [varchar](50) NULL,
	[FORMA_PAGO] [varchar](50) NULL,
	[NO_CERTIFICADO_EMISOR] [varchar](50) NULL,
	[METODO_PAGO] [varchar](10) NULL,
	[SUB_TOTAL] [decimal](18, 2) NULL,
	[SUBTOTAL_IVA] [decimal](19,  6) NOT NULL,
	[TOTAL_IVA] [decimal](18, 2) NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[SALDO] [DECIMAL](18, 2) NULL, 
	[IMPORTE_LETRA] [varchar](250) NULL,
	[CADENA_CERTIFICADO_DIGITAL_SAT] [varchar](2300) NULL,
	[SELLO_DIGITAL_EMISOR] [varchar](2300) NULL,
	[SELLO_DIGITAL_SAT] [varchar](2300) NULL,
	[RFC_PROV_CERTIF] [VARCHAR] (14) NULL,
	--[CANT] [int] NULL,
	[XML] [varchar] (MAX) NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [FACTURAS]
	ADD CONSTRAINT FK_FACTURAS_RAZON_SOCIAL FOREIGN KEY (K_RAZON_SOCIAL)
		REFERENCES [RAZON_SOCIAL](K_RAZON_SOCIAL);
ALTER TABLE [FACTURAS]
	ADD CONSTRAINT UQ_FACTURAS_FOLIO_SERIE UNIQUE ([FOLIO], [SERIE]);

/****** Object:  Table [dbo].[CONCEPTOS]    Script Date: 5/29/2020 2:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONCEPTOS](
	[ID_CONCEPTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_FACTURA] [int] NULL,
	[CLAVE_PROD_SERV] [varchar] (250) NOT NULL,
	[N_IDENTIFICACION] [varchar] (12) NOT NULL,
	[CLAVE_UNIDAD] [varchar] (5) NOT NULL,
	[UNIDAD] [varchar] (20) NOT NULL,
	[CANTIDAD] [decimal](18, 2) NULL,
	[U_MEDIDA] [varchar](50) NULL,
	[DESCRIPCION_PRODUCTO] [varchar](500) NULL,
	[P_UNITARIO] [decimal](18, 6) NULL,
	[IMPORTE] [decimal](18, 2) NULL,
	CONSTRAINT [PK_CONCEPTO] PRIMARY KEY CLUSTERED (
	[ID_CONCEPTO] ASC
)
) ON [PRIMARY]
GO
ALTER TABLE [CONCEPTOS]
	ADD CONSTRAINT FK_CONCEPTOS_FACTURA FOREIGN KEY (ID_FACTURA)
	REFERENCES [FACTURAS](ID_FACTURA)
/****** Object:  Table [dbo].[CONCEPTOS]    Script Date: 5/29/2020 2:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPUESTOS](
	[ID_IMPUESTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CONCEPTO] [int] NULL,
	[TIPO_IMPUESTO] [varchar] (10) NOT NULL,
	[BASE] [decimal] (18, 6) NOT NULL,
	[IMPUESTO] [varchar] (5) NOT NULL,
	[TASA_CUOTA] [decimal] (18, 6) NOT NULL,
	[TIPO_FACTOR] [varchar] (10) NOT NULL,
	[IMPORTE] [decimal] (18, 2) NOT NULL,
	CONSTRAINT [PK_IMPUESTO] PRIMARY KEY CLUSTERED 
(
	[ID_IMPUESTO] ASC
)
) ON [PRIMARY]
GO
ALTER TABLE [IMPUESTOS]
	ADD CONSTRAINT FK_IMPUESTOS_CONCEPTO FOREIGN KEY (ID_CONCEPTO)
	REFERENCES [CONCEPTOS](ID_CONCEPTO)
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS_RELACIONADAS](
	[ID_RELACION] [int] IDENTITY(1,1) NOT NULL,
	[ID_FACTURA] [int] NULL,
	[TIPO_RELACION] [varchar] (10) NOT NULL,
	[UUID] [varchar] (50) NOT NULL,
	CONSTRAINT [PK_RELACION] PRIMARY KEY CLUSTERED 
(
	[ID_RELACION] ASC
)
) ON [PRIMARY]
GO
ALTER TABLE [FACTURAS_RELACIONADAS]
	ADD CONSTRAINT FK_RELACIONES_FACTURAS FOREIGN KEY (ID_FACTURA)
		REFERENCES [FACTURAS](ID_FACTURA)


------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOLIOS_DISPONIBLES](
	[ID_FOLIO_DISPONIBLE] [int] IDENTITY(1,1) NOT NULL,
	[K_RAZON_SOCIAL] [int] NULL,
	[FOLIOS] [int] NOT NULL,
	CONSTRAINT [PK_FOLIOS_DISPONIBLES] PRIMARY KEY CLUSTERED ([ID_FOLIO_DISPONIBLE] ASC)
) ON [PRIMARY]
GO
ALTER TABLE [FOLIOS_DISPONIBLES]
	ADD CONSTRAINT FK_FOLIOS_RAZON_SOCIAL FOREIGN KEY (K_RAZON_SOCIAL)
		REFERENCES [RAZON_SOCIAL] (K_RAZON_SOCIAL)

INSERT INTO [FOLIOS_DISPONIBLES] VALUES (84, 10000)
		 
---------------------------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERIES](
	[ID_SERIE] [int] IDENTITY(1,1) NOT NULL,
	[K_RAZON_SOCIAL] [int] NULL,
	[TIPO_VENTA] [varchar] (10) NOT NULL,
	[SERIE] [varchar] (10) NOT NULL,
	CONSTRAINT [PK_RAZON_SOCIAL_SERIE] PRIMARY KEY CLUSTERED 
(
	[ID_SERIE] ASC
)
) ON [PRIMARY]
GO
ALTER TABLE [SERIES]
	ADD CONSTRAINT SERIES_RAZON_SOCIAL FOREIGN KEY (K_RAZON_SOCIAL)
	REFERENCES [RAZON_SOCIAL](K_RAZON_SOCIAL)

INSERT INTO SERIES VALUES (84, 'I', 'FPJ')
INSERT INTO SERIES VALUES (84, 'E', 'FGPJ')
INSERT INTO SERIES VALUES (13, 'I', 'FCB')

---------------------------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[ID_PAGO] [int] IDENTITY(1,1) NOT NULL,
	[ID_FACTURA] [INT] NOT NULL,
	[FORMA_PAGO] [VARCHAR] (3) NOT NULL,
	[MONEDA] [VARCHAR] (5) NOT NULL,
	[MONTO] [DECIMAL] (19, 2) NOT NULL,
	--numero de operacion 
	[CUENTA_BENEFICIARIO] [VARCHAR] (30) NOT NULL,
	[CUENTA_ORDENANTE] [VARCHAR] (30) NOT NULL
	CONSTRAINT [PK_PAGOS] PRIMARY KEY CLUSTERED ([ID_PAGO] ASC)
) ON [PRIMARY]
GO
ALTER TABLE [PAGOS]
	ADD CONSTRAINT FK_PAGOS_FACTURA FOREIGN KEY (ID_FACTURA)
		REFERENCES [FACTURAS] (ID_FACTURA)


---------------------------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTOS_RELACIONADOS](
	[ID_DOCUMENTO_RELACIONADO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PAGO] [INT] NOT NULL,
	[MONEDA_DR] [VARCHAR] (5) NOT NULL,
	[METODO_PAGO] [VARCHAR] (5) NOT NULL,
	[NUMERO_PARCIALIDAD] [INT] NOT NULL,
	[SALDO_ANTERIOR] [DECIMAL] (19, 2) NOT NULL,
	[IMPORTE_PAGADO] [DECIMAL] (19, 2) NOT NULL,
	[SALDO_INSOLUTO] [DECIMAL] (19, 2) NOT NULL,
	CONSTRAINT [PK_DOCUMENTOS_RELACIONADOS] PRIMARY KEY CLUSTERED ([ID_DOCUMENTO_RELACIONADO] ASC)
) ON [PRIMARY]
GO
ALTER TABLE [DOCUMENTOS_RELACIONADOS]
	ADD CONSTRAINT FK_PAGOS_DOCUMENTOS_RELACIONADOS FOREIGN KEY (ID_PAGO)
		REFERENCES [PAGOS] (ID_PAGO)