USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

alter PROCEDURE [dbo].[PG_AC_UNIDAD_OPERATIVA]
	@PP_K_UNIDAD_OPERATIVA		INT
AS
	BEGIN		
		UPDATE UNIDAD_OPERATIVA SET			
			L_UNIDAD_OPERATIVA = 0
		WHERE K_UNIDAD_OPERATIVA = @PP_K_UNIDAD_OPERATIVA
		
	END;

	-- ===============================

