USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_DL_CERTIFICADO] 
	@PP_ID_CERTIFICADO		INT
AS
	BEGIN

		UPDATE CERTIFICADO
		SET 
			L_CERTIFICADO = 0,
			F_CAMBIO = GETDATE()
		WHERE K_CERTIFICADO = @PP_ID_CERTIFICADO

	END
	

	-- ===============================

