USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_DL_ZONA]
	@PP_K_ZONA				INT
AS
	BEGIN		
		UPDATE ZONA_UO SET			
			L_ZONA_UO = 0
		WHERE K_ZONA_UO = @PP_K_ZONA
		
	END;

	-- ===============================

