USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_IN_SERIE] 
	@PP_ID_SERIE		INT OUTPUT,
	@PP_K_RAZON_SOCIAL  INT,
	@PP_TIPO_VENTA		VARCHAR(100),
	@PP_SERIE			VARCHAR(256)
AS

	BEGIN
		INSERT INTO SERIES (
			K_RAZON_SOCIAL,
			TIPO_VENTA,
			SERIE,
			L_SERIE
		) VALUES (
			@PP_K_RAZON_SOCIAL,
			@PP_TIPO_VENTA,
			@PP_SERIE,
			1
		)
	END

	SET @PP_ID_SERIE = SCOPE_IDENTITY();

	-- ===============================

