USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_IN_REGIMEN_FISCAL] 
	@PP_ID_REGIMEN_FISCAL	INT,
	@PP_DESCRIPCRION		VARCHAR(100),
	@PP_FISICA		 		BIT,
	@PP_MORAL				BIT
AS

	BEGIN
		INSERT INTO REGIMENES_FISCALES(
			ID_REGIMEN_FISCAL,
			DESCRIPCION,
			FISICA,
			MORAL,
			L_REGIMEN_FISCAL
		) VALUES (
			@PP_ID_REGIMEN_FISCAL,
			@PP_DESCRIPCRION,
			@PP_FISICA,
			@PP_MORAL,
			1
		)
	END

	-- ===============================

