USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_IN_ZONA]
	@PP_K_ZONA				INT OUTPUT,
	@PP_ZONA_NOMBRE			VARCHAR(100),
	@PP_DESCRIPCTION		VARCHAR(500),
	@PP_IDENTIFICADOR		VARCHAR(10)
AS
	BEGIN
		SELECT @PP_K_ZONA = MAX(K_ZONA_UO) + 1 FROM ZONA_UO
		
		INSERT INTO ZONA_UO(
			K_ZONA_UO, D_ZONA_UO, C_ZONA_UO,
			S_ZONA_UO, O_ZONA_UO, L_ZONA_UO,
			K_USUARIO_ALTA, F_ALTA, K_USUARIO_CAMBIO,
			F_CAMBIO, L_BORRADO
		) VALUES (
			@PP_K_ZONA, @PP_ZONA_NOMBRE, @PP_DESCRIPCTION,
			@PP_IDENTIFICADOR, 0, 1,
			0, GETDATE(), 0, 
			GETDATE(), 0
		)
	END;

	-- ===============================

