USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_IN_USUARIO_V2]    Script Date: 7/1/2020 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_IN_USUARIO_INFO_FISCAL]
	@PP_ID_INFORMACION_FISCAL	INT OUTPUT,
	@PP_ID_USUARIO				INT,
	@PP_RFC						VARCHAR(13),
	@PP_RAZON_SOCIAL			VARCHAR(100),
	@PP_DIRECCION_FISCAL		VARCHAR(200),
	@PP_CODIGO_POSTAL			VARCHAR(10),
	@PP_TELEFONO				VARCHAR(20),
	@PP_ID_REGIMEN_FISCAL		INT
AS

	BEGIN

		MERGE INTO INFORMACION_FISCAL_USUARIOS T
		USING (SELECT
					@PP_ID_INFORMACION_FISCAL, @PP_ID_USUARIO, @PP_RFC,  
					@PP_RAZON_SOCIAL, @PP_DIRECCION_FISCAL, @PP_CODIGO_POSTAL,
					@PP_TELEFONO, @PP_ID_REGIMEN_FISCAL)
		AS S (
			ID_INFORMACION_FISCAL, ID_USUARIO, RFC, RAZON_SOCIAL,
			DIRECCION_FISCAL, CODIGO_POSTAL, TELEFONO, ID_REGIMEN_FISCAL
		) ON T.ID_INFORMACION_FISCAL = S.ID_INFORMACION_FISCAL
		WHEN NOT MATCHED THEN
			INSERT(
				ID_USUARIO,
				RFC,
				RAZON_SOCIAL,
				DIRECCION_FISCAL,
				CODIGO_POSTAL,
				TELEFONO,
				ID_REGIMEN_FISCAL
			) VALUES (
				S.ID_USUARIO,
				S.RFC,
				S.RAZON_SOCIAL,
				S.DIRECCION_FISCAL,
				S.CODIGO_POSTAL,
				S.TELEFONO,
				S.ID_REGIMEN_FISCAL
			)
		WHEN MATCHED THEN
			UPDATE SET
				T.RFC = S.RFC,
				T.RAZON_SOCIAL = S.RAZON_SOCIAL,
				T.DIRECCION_FISCAL = S.DIRECCION_FISCAL,
				T.CODIGO_POSTAL = S.CODIGO_POSTAL,
				T.TELEFONO = S.TELEFONO,
				T.ID_REGIMEN_FISCAL = S.ID_REGIMEN_FISCAL;

		IF @PP_ID_INFORMACION_FISCAL = 0
			SET @PP_ID_INFORMACION_FISCAL = SCOPE_IDENTITY();
	END
	

	-- ===============================

