USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_IN_FOLIO]
	@PP_ID_FOLIO		INT OUTPUT,
	@PP_K_RAZON_SOCIAL  INT,
	@PP_FOLIOS			INT
AS
	BEGIN
		INSERT INTO FOLIOS_DISPONIBLES(
			K_RAZON_SOCIAL,
			FOLIOS
		) VALUES (
			@PP_K_RAZON_SOCIAL,
			@PP_FOLIOS
		)

		SET @PP_ID_FOLIO = SCOPE_IDENTITY();
	END;

	-- ===============================

