USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_IN_USUARIO_V2]    Script Date: 7/1/2020 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_IN_USUARIO_V3] 
	@PP_ID_USUARIO		INT OUTPUT,
	@PP_NOMBRE_USUARIO  VARCHAR(15),
	@PP_CORREO			VARCHAR(100),
	@PP_CONTRASENA		VARCHAR(256),
	@PP_NOMBRE			VARCHAR(75),
	@PP_APELLIDO_P		VARCHAR(30),
	@PP_APELLIDO_M		VARCHAR(30)
AS

	BEGIN
		INSERT INTO USUARIOS (
			NOMBRE_USUARIO,
			CORREO,
			CONTRASENA,
			NOMBRE,
			APELLIDO_P,
			APELLIDO_M,
			L_USUARIO
		) VALUES (
			@PP_NOMBRE_USUARIO,
			@PP_CORREO,
			@PP_CONTRASENA,
			@PP_NOMBRE,
			@PP_APELLIDO_P,
			@PP_APELLIDO_M,
			1
		)
	END

	SET @PP_ID_USUARIO = SCOPE_IDENTITY();

	-- ===============================

