USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_IN_UNIDAD_OPERATIVA_V2]
	@PP_K_UNIDAD_OPERATIVA		INT OUTPUT,
	@PP_UNIDAD_OPERATIVA_NOMBRE	VARCHAR(100),
	@PP_DESCRIPCTION			VARCHAR(500),
	@PP_IDENTIFICADOR			VARCHAR(10),
	@PP_TELEFONO				VARCHAR(20),
	@PP_CALLE					VARCHAR(100),
	@PP_NUMERO_EXTERIOR			VARCHAR(10),
	@PP_NUMERO_INTERIOR			VARCHAR(10),
	@PP_COLONIA					VARCHAR(100),
	@PP_POBLACION				VARCHAR(100),
	@PP_CODIGO_POSTAL			VARCHAR(10),
	@PP_MUNICIPIO				VARCHAR(100),
	@PP_K_ZONA					INT,
	@PP_K_RAZON_SOCIAL			INT,
	@PP_K_SERVIDOR				INT
AS
	BEGIN
		SELECT @PP_K_UNIDAD_OPERATIVA = MAX(K_UNIDAD_OPERATIVA) + 1 FROM UNIDAD_OPERATIVA
		
		INSERT INTO UNIDAD_OPERATIVA(
			K_UNIDAD_OPERATIVA, D_UNIDAD_OPERATIVA, C_UNIDAD_OPERATIVA,
			S_UNIDAD_OPERATIVA, O_UNIDAD_OPERATIVA, L_UNIDAD_OPERATIVA,
			K_TIPO_UO, K_ZONA_UO, ICS_sucursalId,
			K_SERVIDOR, K_RAZON_SOCIAL, K_REGION,
			PERMISO_CRE, TELEFONO, CALLE,
			NUMERO_EXTERIOR, NUMERO_INTERIOR, COLONIA,
			POBLACION, CP, MUNICIPIO,
			CAPACIDAD_ALMACEN_LITROS, NIVEL_ALMACEN_LITROS, UTILIZACION_ALMACEN,
			K_USUARIO_ALTA, F_ALTA, K_USUARIO_CAMBIO,
			F_CAMBIO, L_BORRADO
		) VALUES (
			@PP_K_UNIDAD_OPERATIVA, @PP_UNIDAD_OPERATIVA_NOMBRE, @PP_DESCRIPCTION,
			@PP_IDENTIFICADOR, 0, 1,
			0, @PP_K_ZONA, 0,
			@PP_K_SERVIDOR, @PP_K_RAZON_SOCIAL, 0,
			'', @PP_TELEFONO, @PP_CALLE,
			@PP_NUMERO_EXTERIOR, @PP_NUMERO_INTERIOR, @PP_COLONIA,
			@PP_POBLACION, @PP_CODIGO_POSTAL, @PP_MUNICIPIO,
			0, 0, 0,
			0, GETDATE(), 0, 
			GETDATE(), 0
		)
	END;

	-- ===============================

