USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_IN_CERTIFICADO]
	@PP_ID_CERTIFICADO		INT OUTPUT,
	@PP_K_RAZON_SOCIAL		INT,
	@PP_D_CERTIFICADO		VARCHAR(100),
	@PP_C_CERTIFICADO		VARCHAR(255),
	@PP_CERTIFICADO			VARCHAR(100),
	@PP_RUTA_CERTIFICADO	VARCHAR(100),
	@PP_LLAVE				VARCHAR(100),
	@PP_CONTRASENA			VARCHAR(100),
	@PP_LOGO				VARCHAR(100),
	@PP_FECHA_EXPIRACION	DATETIME
AS
	BEGIN
		SELECT @PP_ID_CERTIFICADO = MAX(K_CERTIFICADO) + 1 FROM CERTIFICADO
		
		INSERT INTO CERTIFICADO(
			K_CERTIFICADO, D_CERTIFICADO, C_CERTIFICADO,
			L_CERTIFICADO, K_RAZON_SOCIAL, CERTIFICADO,
			LLAVE, CONTRASENA, LOGO,
			FECHA_EXPIRACION, RUTA_CERTIFICADO, RUTA_LLAVE,
			RUTA_LOGO, K_USUARIO_ALTA, F_ALTA,
			K_USUARIO_CAMBIO, F_CAMBIO
		) VALUES (
			@PP_ID_CERTIFICADO, @PP_D_CERTIFICADO, @PP_C_CERTIFICADO,
			1, @PP_K_RAZON_SOCIAL, @PP_CERTIFICADO,
			@PP_LLAVE, @PP_CONTRASENA, @PP_LOGO,
			@PP_FECHA_EXPIRACION, @PP_RUTA_CERTIFICADO, @PP_RUTA_CERTIFICADO,
			@PP_RUTA_CERTIFICADO, 1, GETDATE(),
			1, GETDATE()
		)

	END;

	-- ===============================

