USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_IN_RAZON_SOCIAL_V2]
	@PP_K_RAZON_SOCIAL		INT OUTPUT,
	@PP_RAZON_SOCIAL		VARCHAR (100),
	@PP_NOMBRE_CORTO		VARCHAR (100),
	@PP_IDENTIFICADOR		VARCHAR (100),
	@PP_RFC					VARCHAR (14),
	@PP_CURP				VARCHAR (100),
	@PP_CORREO				VARCHAR (100),
	@PP_TELEFONO			VARCHAR (100),
	@PP_CALLE				VARCHAR (255),
	@PP_NUMERO_EXTERIOR	VARCHAR (10),
	@PP_NUMERO_INTERIOR		VARCHAR (10),
	@PP_COLONIA				VARCHAR (100),
	@PP_CODIGO_POSTAL		VARCHAR (10),
	@PP_MUNICIPIO			VARCHAR (100)
AS
	BEGIN
		SELECT @PP_K_RAZON_SOCIAL = MAX(K_RAZON_SOCIAL) + 1 FROM RAZON_SOCIAL
		
		INSERT INTO RAZON_SOCIAL(
			D_RAZON_SOCIAL, S_RAZON_SOCIAL, O_RAZON_SOCIAL,
			K_ESTATUS_RAZON_SOCIAL, K_TIPO_RAZON_SOCIAL, RAZON_SOCIAL,
			RFC_RAZON_SOCIAL, CURP, CORREO,
			TELEFONO, CALLE, NUMERO_EXTERIOR,
			NUMERO_INTERIOR, COLONIA, POBLACION,
			CP, MUNICIPIO, K_REGION,
			K_USUARIO_ALTA, F_ALTA, K_USUARIO_CAMBIO,
			F_CAMBIO, L_BORRADO, K_RAZON_SOCIAL
		) VALUES (
			@PP_NOMBRE_CORTO, @PP_IDENTIFICADOR, 0,
			1, 1 /*GASERA*/, @PP_RAZON_SOCIAL,
			@PP_RFC, @PP_CURP, @PP_CORREO,
			@PP_TELEFONO, @PP_CALLE, @PP_NUMERO_EXTERIOR,
			@PP_NUMERO_INTERIOR, @PP_COLONIA, '',
			@PP_CODIGO_POSTAL, @PP_MUNICIPIO, 0,
			1, GETDATE(), 1,
			GETDATE(), 0, @PP_K_RAZON_SOCIAL
		)
	END;

	-- ===============================

