USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_FACTURAS] 
	@PP_NUM_PAGINA		INT,
	@PP_RPP				INT
AS

	SELECT 
		F.ID_FACTURA,
		F.SERIE,
		F.FOLIO,
		ES.D_ESTATUS_FACTURA_CXC,
		F.TIPO_COMPROBANTE,
		RS.RAZON_SOCIAL,
		RS.RFC_RAZON_SOCIAL,
		F.NOMBRE_RECEPTOR,
		F.RFC_RECEPTOR,
		F.SUB_TOTAL,
		F.TOTAL_IVA,
		F.TOTAL
	FROM FACTURAS F
	INNER JOIN RAZON_SOCIAL RS	
		ON F.K_RAZON_SOCIAL = RS.K_RAZON_SOCIAL
	INNER JOIN ESTATUS_FACTURA_CXC ES
		ON F.K_ESTATUS_FACTURA = ES.K_ESTATUS_FACTURA_CXC
	ORDER BY F.ID_FACTURA
	OFFSET (@PP_NUM_PAGINA * @PP_RPP) ROWS FETCH NEXT @PP_RPP ROWS ONLY

	-- ===============================

