USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_USO_CFDI] 
	@PP_USO_CFDI	VARCHAR(3)
AS
	BEGIN
		SELECT 
			UCF.USO_CFDI,
			UCF.DESCRIPCION,
			UCF.EXPLICACION,
			UCF.FISICA,
			UCF.MORAL,
			CONVERT(BIT, L_USO_CFDI)
		FROM USO_CFDI UCF
		WHERE USO_CFDI = @PP_USO_CFDI

	END
	

	-- ===============================

