USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_IN_BITACORA_SQL]    Script Date: 6/1/2020 4:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_SV_CONCEPTO_INFO]
	@PP_L_DEBUG						[INT],
	@PP_K_SISTEMA_EXE				[INT],
	@PP_K_USUARIO					[INT],
	-- ===========================================
	@PP_ID_CONCEPTO					[INT] OUTPUT,
	@PP_ID_FACTURA					[INT],
	@PP_ID_REMISION					[INT],
	@PP_ID_LINKED_SERVER			[INT],
	@PP_CLAVE_PROD_SERV				[VARCHAR] (50),
	@PP_N_IDENTIFICACION			[VARCHAR] (12),
	@PP_CLAVE_UNIDAD				[VARCHAR] (5),
	@PP_UNIDAD						[VARCHAR] (20),
	@PP_CANTIDAD					[DECIMAL] (18,2), 
	@PP_DESCRIPCION_PRODUCTO		[VARCHAR] (200),
	@PP_P_UNITARIO					[DECIMAL] (18, 6),
	@PP_IMPORTE						[DECIMAL] (18, 2)
AS
BEGIN

	DECLARE @VP_INSERTED_ID INT = 0

	MERGE INTO CONCEPTOS AS T 
	USING (
		SELECT  @PP_ID_CONCEPTO, @PP_ID_FACTURA, @PP_CLAVE_PROD_SERV,
				@PP_N_IDENTIFICACION, @PP_CLAVE_UNIDAD, @PP_UNIDAD, 
				@PP_CANTIDAD, @PP_DESCRIPCION_PRODUCTO, 
				@PP_P_UNITARIO, @PP_IMPORTE, @PP_ID_REMISION, @PP_ID_LINKED_SERVER
	) AS S (
				ID_CONCEPTO, ID_FACTURA, CLAVE_PROD_SERV, N_IDENTIFICACION, 
				CLAVE_UNIDAD, UNIDAD, CANTIDAD, 
				DESCRIPCION_PRODUCTO, P_UNITARIO, IMPORTE, ID_REMISION, ID_LINKED_SERVER
	)
	ON (T.ID_CONCEPTO = S.ID_CONCEPTO)
	WHEN MATCHED THEN
		UPDATE SET  T.ID_FACTURA = S.ID_FACTURA,
					T.CLAVE_PROD_SERV = S.CLAVE_PROD_SERV,
					T.N_IDENTIFICACION = S.N_IDENTIFICACION,
					T.CLAVE_UNIDAD = S.CLAVE_UNIDAD,
					T.UNIDAD = S.UNIDAD,
					T.CANTIDAD = S.CANTIDAD,
					T.DESCRIPCION_PRODUCTO = S.DESCRIPCION_PRODUCTO,
					T.P_UNITARIO = S.P_UNITARIO,
					T.IMPORTE = S.IMPORTE
	WHEN NOT MATCHED THEN
		INSERT (ID_FACTURA, CLAVE_PROD_SERV, N_IDENTIFICACION, 
				CLAVE_UNIDAD, UNIDAD, CANTIDAD,  
				DESCRIPCION_PRODUCTO, P_UNITARIO, IMPORTE, ID_REMISION, ID_LINKED_SERVER)
		VALUES (S.ID_FACTURA, S.CLAVE_PROD_SERV, S.N_IDENTIFICACION, 
				S.CLAVE_UNIDAD, S.UNIDAD, S.CANTIDAD, 
				S.DESCRIPCION_PRODUCTO, S.P_UNITARIO, S. IMPORTE, S.ID_REMISION, ID_LINKED_SERVER);

	--SI SE INSERTO UN REGISTRO, SE REGRESA EL VALOR DEL ID
	SET @VP_INSERTED_ID = SCOPE_IDENTITY()
	IF @VP_INSERTED_ID > 0
		SET @PP_ID_CONCEPTO = @VP_INSERTED_ID
END
			
	-- ============================================
