USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_FOLIOS] 
	@PP_NUM_PAGINA		INT,
	@PP_RPP				INT
AS
	BEGIN
		SELECT 
			F.ID_FOLIO_DISPONIBLE,
			F.FOLIOS,
			F.FOLIOS_COMPARTIDOS,
			RS.K_RAZON_SOCIAL,
			RS.RAZON_SOCIAL,
			RS.RFC_RAZON_SOCIAL
		FROM FOLIOS_DISPONIBLES F
			INNER JOIN RAZON_SOCIAL RS
				ON F.K_RAZON_SOCIAL = RS.K_RAZON_SOCIAL
		ORDER BY F.ID_FOLIO_DISPONIBLE
		OFFSET (@PP_NUM_PAGINA * @PP_RPP) ROWS FETCH NEXT @PP_RPP ROWS ONLY
	END
	-- ===============================

