USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_FACTURAS_TOTAL] 
	@PP_TOTAL_REG		INT OUTPUT
AS

	SELECT 
		@PP_TOTAL_REG = COUNT(*)
	FROM FACTURAS F
	INNER JOIN RAZON_SOCIAL RS	
		ON F.K_RAZON_SOCIAL = RS.K_RAZON_SOCIAL
	INNER JOIN ESTATUS_FACTURA_CXC ES
		ON F.K_ESTATUS_FACTURA = ES.K_ESTATUS_FACTURA_CXC

	-- ===============================

