USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_SK_USUARIO_ROLES]
	@PP_ID_USUARIO			INT
AS
	BEGIN
		SELECT 
				R.ID_ROL,
				R.ROL,
				R.DESCRIPCION,
				R.IDENTIFICADOR 
			FROM USUARIOS_ROLES UR
				INNER JOIN ROLES R
					ON R.ID_ROL = UR.ID_ROL
				INNER JOIN USUARIOS U
					ON U.ID_USUARIO = UR.ID_USUARIO
	END

	-- ===============================

