USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_USUARIO_FISCALES] 
	@PP_ID_USUARIO		INT
AS
	BEGIN
		SELECT 
			IFU.ID_INFORMACION_FISCAL,
			IFU.RFC,
			IFU.RAZON_SOCIAL,
			IFU.DIRECCION_FISCAL,
			IFU.CODIGO_POSTAL,
			IFU.TELEFONO
		FROM INFORMACION_FISCAL_USUARIOS IFU
		WHERE ID_USUARIO = @PP_ID_USUARIO
	END

	-- ===============================

