USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_IN_BITACORA_SQL]    Script Date: 6/1/2020 4:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_SV_PAGOS_INFO]
	@PP_L_DEBUG						[INT],
	@PP_K_SISTEMA_EXE				[INT],
	@PP_K_USUARIO					[INT],
	-- ===========================================
	@PP_ID_PAGO						[INT] OUTPUT,
	@PP_ID_FACTURA					[INT],
	@PP_FECHA_PAGO					[DATE],
	@PP_FORMA_PAGO					[VARCHAR] (3),
	@PP_MONEDA						[VARCHAR] (5),
	@PP_MONTO						[DECIMAL] (19, 2),
	@PP_CUENTA_BENEFICIARIO			[VARCHAR] (30),
	@PP_CUENTA_ORDENANTE			[VARCHAR] (30)
AS
BEGIN
	DECLARE @VP_INSERTED_ID AS INT = 0
	MERGE INTO PAGOS AS T 
		USING (
			SELECT  @PP_ID_PAGO, @PP_ID_FACTURA, @PP_FECHA_PAGO, @PP_FORMA_PAGO,
					@PP_MONEDA, @PP_MONTO, @PP_CUENTA_BENEFICIARIO, @PP_CUENTA_ORDENANTE
		) AS S (
			ID_PAGO, ID_FACTURA, FECHA_PAGO, FORMA_PAGO, 
			MONEDA, MONTO, CUENTA_BENEFICIARIO, CUENTA_ORDENANTE
		)
		ON (S.ID_PAGO = T.ID_PAGO)
		WHEN MATCHED THEN
			UPDATE SET  T.FECHA_PAGO = S.FECHA_PAGO,
						T.FORMA_PAGO = S.FORMA_PAGO,
						T.MONEDA = S.MONEDA,
						T.MONTO = S.MONTO,
						T.NUM_OPERACION = S.ID_FACTURA,
						T.CUENTA_BENEFICIARIO = S.CUENTA_BENEFICIARIO,
						T.CUENTA_ORDENANTE = T.CUENTA_ORDENANTE
		WHEN NOT MATCHED THEN
			INSERT  (
				ID_FACTURA, FECHA_PAGO, FORMA_PAGO, MONEDA,
				MONTO, NUM_OPERACION, CUENTA_BENEFICIARIO, CUENTA_ORDENANTE
			)
			VALUES  (
				S.ID_FACTURA, S.FECHA_PAGO, S.FORMA_PAGO, S.MONEDA,
				S.MONTO, S.ID_FACTURA, S.CUENTA_BENEFICIARIO, S.CUENTA_ORDENANTE
			);
		SET @VP_INSERTED_ID = SCOPE_IDENTITY()
		IF @VP_INSERTED_ID > 0
			SET @PP_ID_PAGO = @VP_INSERTED_ID

END
			
	-- ============================================
