USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_FOLIOS_UNIDAD_OPERATIVA] 
	@PP_K_RAZON_SOCIAL		INT
AS
	BEGIN
		SELECT 
			FD.ID_FOLIO_DISPONIBLE,
			RS.K_RAZON_SOCIAL,
			UO.K_UNIDAD_OPERATIVA,
			UO.D_UNIDAD_OPERATIVA,
			ISNULL(DF.FOLIOS, 0),
			ISNULL(DF.USAR_FOLIOS_COMPARTIDOS, 1)
		FROM RAZON_SOCIAL RS
			INNER JOIN UNIDAD_OPERATIVA UO
				ON RS.K_RAZON_SOCIAL = UO.K_RAZON_SOCIAL
			INNER JOIN FOLIOS_DISPONIBLES FD
				ON FD.K_RAZON_SOCIAL = RS.K_RAZON_SOCIAL
			LEFT JOIN DISTRIBUCION_FOLIOS DF
				ON UO.K_UNIDAD_OPERATIVA = DF.K_UNIDAD_OPERATIVA
		WHERE RS.K_RAZON_SOCIAL = @PP_K_RAZON_SOCIAL
	END

	-- ===============================

