USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_IN_BITACORA_SQL]    Script Date: 6/1/2020 4:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_SV_FACTURA_RELACION_INFO]
	@PP_L_DEBUG						[INT],
	@PP_K_SISTEMA_EXE				[INT],
	@PP_K_USUARIO					[INT],
	-- ===========================================
	@PP_ID_RELACION					[INT] OUTPUT,
	@PP_ID_FACTURA					[INT],
	@PP_TIPO_RELACION				[VARCHAR] (10),
	@PP_UUID						[VARCHAR] (12)
	
AS
BEGIN

	DECLARE @VP_INSERTED_ID INT = 0

	MERGE INTO FACTURAS_RELACIONADAS AS T 
	USING (
		SELECT  @PP_ID_RELACION, @PP_ID_FACTURA	, @PP_TIPO_RELACION, @PP_UUID
	) AS S (
				ID_RELACION, ID_FACTURA, TIPO_RELACION, UUID
	)
	ON (T.ID_RELACION = S.ID_RELACION)
	WHEN MATCHED THEN
		UPDATE SET  T.ID_FACTURA = S.ID_FACTURA,
					T.TIPO_RELACION = S.TIPO_RELACION,
					T.UUID = S.UUID
	WHEN NOT MATCHED THEN
		INSERT (ID_FACTURA, TIPO_RELACION, UUID)
		VALUES (S.ID_FACTURA, S.TIPO_RELACION, S.UUID);

	--SI SE INSERTO UN REGISTRO, SE REGRESA EL VALOR DEL ID
	SET @VP_INSERTED_ID = SCOPE_IDENTITY()
	IF @VP_INSERTED_ID > 0
		SET @PP_ID_RELACION = @VP_INSERTED_ID
END
			
	-- ============================================
