USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SV_FOLIO_UNIDAD_OPERATIVA] 
	@PP_ID_FOLIO				INT,
	@PP_K_RAZON_SOCIAL			INT,
	@PP_K_UNIDAD_OPERATIVA		INT,
	@PP_FOLIOS					INT, --Cantidad de folios a agregar o quitar, no se cuentan los que ya se tienen
	@PP_USAR_FOLIOS_COMPARTIDOS	BIT,
	@PP_MENSAJE					VARCHAR(500) OUTPUT
AS
	BEGIN
		DECLARE @VP_ERROR BIT = 0
		--Si @PP_USAR_FOLIOS_COMPARTIDOS es igual a 1, se intentará recuperar los folios en DISTRIBUCION_FOLIOS, si estos  estan disponibles
		IF(@PP_USAR_FOLIOS_COMPARTIDOS = 1)
		BEGIN
			DECLARE @VP_FOLIOS INT
			SET @PP_FOLIOS = 0
			SELECT @VP_FOLIOS = FOLIOS FROM DISTRIBUCION_FOLIOS WHERE ID_FOLIO_DISPONIBLE = @PP_ID_FOLIO AND K_UNIDAD_OPERATIVA = @PP_K_UNIDAD_OPERATIVA
			UPDATE FOLIOS_DISPONIBLES
			SET 
				FOLIOS_COMPARTIDOS = FOLIOS_COMPARTIDOS + ISNULL(@VP_FOLIOS, 0)
			WHERE ID_FOLIO_DISPONIBLE = @PP_ID_FOLIO
		END
		ELSE
			SELECT @VP_ERROR = (CASE WHEN FOLIOS_COMPARTIDOS < @PP_FOLIOS THEN 1 ELSE 0 END) 
			FROM FOLIOS_DISPONIBLES WHERE ID_FOLIO_DISPONIBLE = @PP_ID_FOLIO
			IF @VP_ERROR = 0
				UPDATE FOLIOS_DISPONIBLES
				SET 
					FOLIOS_COMPARTIDOS = FOLIOS_COMPARTIDOS - @PP_FOLIOS
				WHERE ID_FOLIO_DISPONIBLE = @PP_ID_FOLIO
			ELSE 
				SET @PP_MENSAJE = N'No hay suficientes folios compartidos para asignar a esta unidad operativa'

		IF  @VP_ERROR = 0
			MERGE INTO DISTRIBUCION_FOLIOS T
			USING (SELECT @PP_ID_FOLIO, @PP_K_UNIDAD_OPERATIVA, @PP_FOLIOS, @PP_USAR_FOLIOS_COMPARTIDOS)
			AS S (ID_FOLIO_DISPONIBLE, K_UNIDAD_OPERATIVA, FOLIOS, USAR_FOLIOS_COMPARTIDOS)
			ON (T.ID_FOLIO_DISPONIBLE = S.ID_FOLIO_DISPONIBLE AND T.K_UNIDAD_OPERATIVA = S.K_UNIDAD_OPERATIVA)
			WHEN NOT MATCHED THEN
				INSERT (
					ID_FOLIO_DISPONIBLE,
					K_UNIDAD_OPERATIVA,
					FOLIOS,
					USAR_FOLIOS_COMPARTIDOS
				) VALUES (
					S.ID_FOLIO_DISPONIBLE,
					S.K_UNIDAD_OPERATIVA,
					S.FOLIOS,
					S.USAR_FOLIOS_COMPARTIDOS
				)
			WHEN MATCHED THEN
				UPDATE SET
					--Si USAR_FOLIOS_COMPARTIDOS = 1 entonces FOLIOS es igual a 0, de lo contrario se adieren los FOLIOS
					T.FOLIOS = (CASE WHEN S.USAR_FOLIOS_COMPARTIDOS = 1 THEN 0 ELSE T.FOLIOS + S.FOLIOS END),
					T.USAR_FOLIOS_COMPARTIDOS = S.USAR_FOLIOS_COMPARTIDOS;

	END
	

	-- ===============================

