USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_SK_FACTURA_INFO]
	@PP_L_DEBUG					INT,
	@PP_K_SISTEMA_EXE			INT,
	@PP_SERIE					INT,
	@PP_FOLIO					INT
AS

	SELECT 
		RS.RFC_RAZON_SOCIAL,
		F.RFC_RECEPTOR,
		F.FOLIO_FISCAL,
		F.TOTAL
	FROM FACTURAS F
	INNER JOIN RAZON_SOCIAL RS
		ON F.K_RAZON_SOCIAL = RS.K_RAZON_SOCIAL
	WHERE 
		FOLIO = @PP_FOLIO AND
		SERIE = @PP_SERIE
		

	-- ===============================

