USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_IN_USUARIO_V2]    Script Date: 7/1/2020 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_NOMBRE_USUARIO] 
	@PP_NOMBRE_USUARIO  VARCHAR(15)
AS

	BEGIN
		SELECT U.NOMBRE_USUARIO FROM USUARIOS U
		WHERE U.NOMBRE_USUARIO = @PP_NOMBRE_USUARIO
	END

	-- ===============================

