USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CATALOGO_K_MAX_GET]    Script Date: 6/1/2020 9:26:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_SK_INFO_EMISOR]
	@PP_L_DEBUG					INT,
	@PP_K_SISTEMA_EXE			INT,
	@PP_K_UNIDAD_OPERATIVA		INT,
	@PP_TIPO_COMPRA				VARCHAR(15)
AS

	SELECT 
		UO.K_UNIDAD_OPERATIVA,
		RS.K_RAZON_SOCIAL, 
		RS.RFC_RAZON_SOCIAL, 
		RS.RAZON_SOCIAL, 
		FE.REGIMEN_FISCAL,
		UO.CP, 
		S.SERIE,
		RIUO.IMPUESTOS
	FROM UNIDAD_OPERATIVA UO
		INNER JOIN RELACION_IMPUESTOS_UO RIUO
			ON UO.K_UNIDAD_OPERATIVA = RIUO.K_UNIDAD_OPERATIVA
		INNER JOIN RAZON_SOCIAL RS
			ON UO.K_RAZON_SOCIAL = RS.K_RAZON_SOCIAL
		INNER JOIN FISCALES_EMISOR FE
			ON FE.K_RAZON_SOCIAL = RS.K_RAZON_SOCIAL AND
			   FE.K_UNIDAD_OPERATIVA = UO.K_UNIDAD_OPERATIVA
		INNER JOIN SERIES S
			ON S.K_RAZON_SOCIAL = RS.K_RAZON_SOCIAL
	WHERE 
		UO.K_UNIDAD_OPERATIVA = @PP_K_UNIDAD_OPERATIVA AND 
		S.TIPO_VENTA = 'I'

	-- ===============================

