USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_RAZONES_SOCIALES]    Script Date: 07/08/2020 11:02:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_RAZONES_SOCIALES] 
	@PP_NUM_PAGINA		INT,
	@PP_RPP				INT
AS
	BEGIN
		SELECT 
			K_RAZON_SOCIAL,
			RAZON_SOCIAL,
			D_RAZON_SOCIAL,
			S_RAZON_SOCIAL,
			RFC_RAZON_SOCIAL,
			CURP,
			CORREO,
			TELEFONO,
			CALLE,
			NUMERO_EXTERIOR,
			NUMERO_INTERIOR,
			COLONIA,
			CP,
			MUNICIPIO,
			CONVERT(BIT, L_BORRADO)
		FROM RAZON_SOCIAL RS
		WHERE 
			L_BORRADO = 0 AND
			K_RAZON_SOCIAL <> 0
		ORDER BY RS.K_RAZON_SOCIAL
		OFFSET (@PP_NUM_PAGINA * @PP_RPP) ROWS FETCH NEXT @PP_RPP ROWS ONLY
	END
	

	-- ===============================

