USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_SERIES] 
	@PP_NUM_PAGINA		INT,
	@PP_RPP				INT
AS

	SELECT 
		S.ID_SERIE,
		S.TIPO_VENTA,
		S.SERIE,
		RS.K_RAZON_SOCIAL,
		RS.RAZON_SOCIAL,
		RS.RFC_RAZON_SOCIAL
	FROM SERIES S
		INNER JOIN RAZON_SOCIAL RS
			ON S.K_RAZON_SOCIAL = RS.K_RAZON_SOCIAL
	ORDER BY S.ID_SERIE
	OFFSET (@PP_NUM_PAGINA * @PP_RPP) ROWS FETCH NEXT @PP_RPP ROWS ONLY

	-- ===============================

