USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_SK_FACTURA_PAGOS_INFO] --[dbo].[PG_SK_FACTURA_PAGOS_INFO] 0, 0, 'FCR', 69
	@PP_L_DEBUG					INT,
	@PP_K_SISTEMA_EXE			INT,
	@PP_SERIE					VARCHAR(5),
	@PP_FOLIO					INT
AS
	DECLARE @FOLIO_FISCAL VARCHAR(250)
	DECLARE @SALDO DECIMAL(19,4)
	DECLARE @NUM_PARCIALIDAD INT
	DECLARE @ID_FACTURA INT

	SELECT 
		@FOLIO_FISCAL = F.FOLIO_FISCAL,
		@SALDO = F.SALDO,
		@ID_FACTURA = F.ID_FACTURA
	FROM FACTURAS F
		LEFT JOIN PAGOS P
			ON F.ID_FACTURA = P.ID_FACTURA
		LEFT JOIN DOCUMENTOS_RELACIONADOS DR
			ON P.ID_PAGO = DR.ID_PAGO
	WHERE F.SERIE = @PP_SERIE AND
		  F.FOLIO = @PP_FOLIO AND
		  F.METODO_PAGO = 'PPD'

	SELECT 
		@NUM_PARCIALIDAD = ISNULL(MAX(DR.NUMERO_PARCIALIDAD) + 1, 1)
	FROM DOCUMENTOS_RELACIONADOS DR
		LEFT JOIN FACTURAS F
			ON DR.ID_FACTURA = F.ID_FACTURA
	WHERE F.SERIE = @PP_SERIE AND
		  F.FOLIO = @PP_FOLIO AND
		  F.METODO_PAGO = 'PPD'

	SELECT @FOLIO_FISCAL AS FOLIO_FISCAL, @NUM_PARCIALIDAD AS NUM_PARCIALIDAD, @SALDO AS SALDO, @ID_FACTURA AS ID_FACTURA
		

	-- ===============================

