USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_SK_USUARIO_INFO]
	@PP_L_DEBUG					INT,
	@PP_K_SISTEMA_EXE			INT,
	@PP_NOMBRE_USUARIO			VARCHAR(15),
	@PP_CORREO					VARCHAR(100)
AS
	BEGIN 
		SELECT 
			U.ID_USUARIO,
			U.NOMBRE_USUARIO,
			U.CORREO,
			U.CONTRASENA,
			U.NOMBRE,
			U.APELLIDO_P,
			U.APELLIDO_M,
			L_USUARIO
		FROM USUARIOS U
		WHERE 
			(U.NOMBRE_USUARIO = @PP_NOMBRE_USUARIO OR
			U.CORREO = @PP_CORREO) AND
			U.L_USUARIO = 1
	END
	
	-- ===============================

