USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_IN_BITACORA_SQL]    Script Date: 6/1/2020 4:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_SV_CONCEPTO_IMPUESTO_INFO]
	@PP_L_DEBUG						[INT],
	@PP_K_SISTEMA_EXE				[INT],
	@PP_K_USUARIO					[INT],
	-- ===========================================
	@PP_ID_IMPUESTO					[INT] OUTPUT,
	@PP_ID_CONCEPTO					[INT],
	@PP_TIPO_IMPUESTO				[VARCHAR] (10),
	@PP_BASE						[DECIMAL] (18, 6),
	@PP_IMPUESTO					[VARCHAR] (5),
	@PP_TASA_CUOTA					[DECIMAL] (18, 6),
	@PP_TIPO_FACTOR					[VARCHAR] (10), 
	@PP_IMPORTE						[DECIMAL] (18, 2)
AS
BEGIN

	DECLARE @VP_INSERTED_ID INT = 0

	MERGE INTO IMPUESTOS AS T 
	USING (
		SELECT  @PP_ID_IMPUESTO, @PP_ID_CONCEPTO, @PP_TIPO_IMPUESTO,
				@PP_BASE, @PP_IMPUESTO, @PP_TASA_CUOTA, 
				@PP_TIPO_FACTOR, @PP_IMPORTE
	) AS S (
				ID_IMPUESTO, ID_CONCEPTO, TIPO_IMPUESTO, BASE, 
				IMPUESTO, TASA_CUOTA, TIPO_FACTOR, IMPORTE
	)
	ON (T.ID_IMPUESTO = S.ID_IMPUESTO)
	WHEN MATCHED THEN
		UPDATE SET  T.ID_CONCEPTO = S.ID_CONCEPTO,
					T.TIPO_IMPUESTO = S.TIPO_IMPUESTO,
					T.BASE = S.BASE,
					T.IMPUESTO = S.IMPUESTO,
					T.TASA_CUOTA = S.TASA_CUOTA,
					T.TIPO_FACTOR = S.TIPO_FACTOR,
					T.IMPORTE = S.IMPORTE
	WHEN NOT MATCHED THEN
		INSERT (ID_CONCEPTO, TIPO_IMPUESTO, BASE, 
				IMPUESTO, TASA_CUOTA, TIPO_FACTOR, IMPORTE)
		VALUES (S.ID_CONCEPTO, S.TIPO_IMPUESTO, S.BASE, 
				S.IMPUESTO, S.TASA_CUOTA, S.TIPO_FACTOR, S.IMPORTE);

	--SI SE INSERTO UN REGISTRO, SE REGRESA EL VALOR DEL ID
	SET @VP_INSERTED_ID = SCOPE_IDENTITY()
	IF @VP_INSERTED_ID > 0
		SET @PP_ID_IMPUESTO = @VP_INSERTED_ID
END
			
	-- ============================================
