USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_IN_BITACORA_SQL]    Script Date: 6/1/2020 4:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_SV_DOCTO_REL_INFO]
	@PP_L_DEBUG						[INT],
	@PP_K_SISTEMA_EXE				[INT],
	@PP_K_USUARIO					[INT],
	-- ===========================================
	@PP_ID_DOCUMENTO_RELACIONADO	[INT] OUTPUT,
	@PP_ID_PAGO						[INT],
	@PP_ID_FACTURA					[INT],
	@PP_MONEDA_DR					[VARCHAR] (5),
	@PP_METODO_PAGO					[VARCHAR] (5),
	@PP_NUMERO_PARCIALIDAD			[INT],
	@PP_SALDO_ANTERIOR				[DECIMAL] (19, 2),
	@PP_IMPORTE_PAGADO				[DECIMAL] (19, 2),
	@PP_SALDO_INSOLUTO				[DECIMAL] (19, 2)
AS
BEGIN
	DECLARE @VP_INSERTED_ID AS INT = 0
	MERGE INTO DOCUMENTOS_RELACIONADOS AS T 
		USING (
			SELECT  @PP_ID_DOCUMENTO_RELACIONADO, @PP_ID_PAGO, @PP_ID_FACTURA, @PP_MONEDA_DR, @PP_METODO_PAGO,
					@PP_NUMERO_PARCIALIDAD, @PP_SALDO_ANTERIOR, @PP_IMPORTE_PAGADO, @PP_SALDO_INSOLUTO
		) AS S (
			ID_DOCUMENTO_RELACIONADO, ID_PAGO, ID_FACTURA, MONEDA_DR, METODO_PAGO, 
			NUMERO_PARCIALIDAD, SALDO_ANTERIOR, IMPORTE_PAGADO, SALDO_INSOLUTO
		)
		ON (S.ID_DOCUMENTO_RELACIONADO = T.ID_DOCUMENTO_RELACIONADO)
		WHEN MATCHED THEN
			UPDATE SET  T.MONEDA_DR			 = S.MONEDA_DR,
						T.METODO_PAGO		 = S.METODO_PAGO,
						T.NUMERO_PARCIALIDAD = S.NUMERO_PARCIALIDAD,
						T.SALDO_ANTERIOR	 = S.SALDO_ANTERIOR,
						T.IMPORTE_PAGADO	 = S.IMPORTE_PAGADO,
						T.SALDO_INSOLUTO	 = S.SALDO_INSOLUTO
		WHEN NOT MATCHED THEN
			INSERT  (
				ID_PAGO, ID_FACTURA, MONEDA_DR, METODO_PAGO,
				NUMERO_PARCIALIDAD, SALDO_ANTERIOR, IMPORTE_PAGADO, SALDO_INSOLUTO
			)
			VALUES  (
				S.ID_PAGO, S.ID_FACTURA, S.MONEDA_DR, S.METODO_PAGO,
				S.NUMERO_PARCIALIDAD, S.SALDO_ANTERIOR, S.IMPORTE_PAGADO, S.SALDO_INSOLUTO
			);
		SET @VP_INSERTED_ID = SCOPE_IDENTITY()
		IF @VP_INSERTED_ID > 0
			SET @PP_ID_DOCUMENTO_RELACIONADO = @VP_INSERTED_ID

END
			
	-- ============================================
