USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_CERTIFICADOS] 
	@PP_NUM_PAGINA		INT,
	@PP_RPP				INT
AS

	SELECT 
		C.K_CERTIFICADO,
		C.CERTIFICADO,
		C.RUTA_CERTIFICADO,
		C.LLAVE,
		C.CONTRASENA,
		ISNULL(C.FECHA_EXPIRACION, '2000-01-01 12:00:00.000')
	FROM CERTIFICADO c
	ORDER BY C.K_CERTIFICADO
	OFFSET (@PP_NUM_PAGINA * @PP_RPP) ROWS FETCH NEXT @PP_RPP ROWS ONLY

	-- ===============================

