USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_CERTIFICADO] 
	@PP_K_CERTIFICADO		INT
AS
	BEGIN
		SELECT 
			K_CERTIFICADO,
			CERTIFICADO,
			D_CERTIFICADO,
			C_CERTIFICADO,
			RUTA_CERTIFICADO,
			LLAVE,
			CONTRASENA,
			ISNULL(FECHA_EXPIRACION, '2000-01-01 12:00:00.000'),
			CONVERT(bit,L_CERTIFICADO)
			--CASE WHEN L_CERTIFICADO = 1 THEN 'TRUE' ELSE 'FALSE' END
		FROM CERTIFICADO
		WHERE K_CERTIFICADO = @PP_K_CERTIFICADO
	END

	-- ===============================

