USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_SERIE] 
	@PP_ID_SERIE		INT
AS
	BEGIN
		SELECT 
			S.ID_SERIE,
			S.TIPO_VENTA,
			S.SERIE,
			RS.K_RAZON_SOCIAL,
			RS.RAZON_SOCIAL,
			RS.RFC_RAZON_SOCIAL
		FROM SERIES S
			INNER JOIN RAZON_SOCIAL RS
				ON S.K_RAZON_SOCIAL = RS.K_RAZON_SOCIAL
		WHERE ID_SERIE = @PP_ID_SERIE
	END	

	-- ===============================

