USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_FACTURA_DETALLE] 
	@PP_ID_FACTURA		INT
AS

	SELECT 
		F.ID_FACTURA,--
		F.SERIE,
		F.FOLIO,
		ES.D_ESTATUS_FACTURA_CXC,
		F.TIPO_COMPROBANTE,
		RS.RAZON_SOCIAL,
		RS.RFC_RAZON_SOCIAL,
		F.NOMBRE_RECEPTOR,
		F.RFC_RECEPTOR,
		F.SUB_TOTAL,
		F.TOTAL_IVA,
		F.TOTAL,
		F.FOLIO_FISCAL,
		F.FECHA_CERTIFICACION,
		F.FECHA_EMISION,
		F.NO_CERTIFICADO_EMISOR
	FROM FACTURAS F
	INNER JOIN RAZON_SOCIAL RS	
		ON F.K_RAZON_SOCIAL = RS.K_RAZON_SOCIAL
	INNER JOIN ESTATUS_FACTURA_CXC ES
		ON F.K_ESTATUS_FACTURA = ES.K_ESTATUS_FACTURA_CXC
	INNER JOIN INFORMACION_FISCAL_USUARIOS IFU
		ON F.RFC_RECEPTOR = IFU.RFC
	WHERE F.ID_FACTURA = @PP_ID_FACTURA

	-- ===============================

