USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_UNIDAD_OPERATIVA_POR_ZONA] 
	@PP_L_DEBUG				INT,
	@PP_K_SISTEMA_EXE		INT,
	@PP_ID_ZONA				INT
AS
	BEGIN
		SELECT 
			UO.K_UNIDAD_OPERATIVA,
			UO.D_UNIDAD_OPERATIVA,
			UO.C_UNIDAD_OPERATIVA,
			UO.S_UNIDAD_OPERATIVA,
			UO.TELEFONO,
			UO.CALLE,
			UO.NUMERO_EXTERIOR,
			UO.NUMERO_INTERIOR,
			UO.COLONIA,
			UO.POBLACION,
			UO.CP,
			UO.MUNICIPIO,
			RS.K_RAZON_SOCIAL,
			RS.RAZON_SOCIAL,
			RS.RFC_RAZON_SOCIAL,
			CONVERT(BIT, L_UNIDAD_OPERATIVA),
			S.K_SERVIDOR,
			S.D_SERVIDOR,
			Z.K_ZONA_UO,
			Z.D_ZONA_UO
		FROM UNIDAD_OPERATIVA UO
			INNER JOIN RAZON_SOCIAL RS
				ON UO.K_RAZON_SOCIAL = RS.K_RAZON_SOCIAL
			INNER JOIN SERVIDOR S
				ON UO.K_SERVIDOR = S.K_SERVIDOR
			INNER JOIN ZONA_UO Z
				ON UO.K_ZONA_UO = Z.K_ZONA_UO
		WHERE 
			UO.L_UNIDAD_OPERATIVA = 1 AND
			UO.K_UNIDAD_OPERATIVA <> 0 AND
			UO.K_ZONA_UO = @PP_ID_ZONA
		ORDER BY UO.K_UNIDAD_OPERATIVA
	END
	

	-- ===============================

