USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_RAZON_SOCIAL_V2] 
	@PP_K_RAZON_SOCIAL	INT
AS
	BEGIN
		SELECT 
			K_RAZON_SOCIAL,
			RAZON_SOCIAL,
			D_RAZON_SOCIAL,
			S_RAZON_SOCIAL,
			RFC_RAZON_SOCIAL,
			CURP,
			CORREO,
			TELEFONO,
			CALLE,
			NUMERO_EXTERIOR,
			NUMERO_INTERIOR,
			COLONIA,
			CP,
			MUNICIPIO
		FROM RAZON_SOCIAL RS
		WHERE 
			L_BORRADO = 0 AND
			K_RAZON_SOCIAL = @PP_K_RAZON_SOCIAL
	END
	

	-- ===============================