USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_REGIMENES_FISCALES] 
	@PP_NUM_PAGINA		INT,
	@PP_RPP				INT
AS
	BEGIN
		SELECT 
			RF.ID_REGIMEN_FISCAL,
			RF.DESCRIPCION,
			RF.FISICA,
			RF.MORAL,
			CONVERT(BIT, L_REGIMEN_FISCAL)
		FROM REGIMENES_FISCALES RF
		ORDER BY ID_REGIMEN_FISCAL
		OFFSET (@PP_NUM_PAGINA * @PP_RPP) ROWS FETCH NEXT @PP_RPP ROWS ONLY
	END
	

	-- ===============================

