USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_USUARIOS] 
	@PP_NUM_PAGINA		INT,
	@PP_RPP				INT
AS
	BEGIN 
		SELECT 
			U.ID_USUARIO,
			U.NOMBRE_USUARIO,
			'******',
			U.NOMBRE,
			U.APELLIDO_P,
			U.APELLIDO_M,
			U.CORREO
		FROM USUARIOS U
		ORDER BY U.ID_USUARIO
		OFFSET (@PP_NUM_PAGINA * @PP_RPP) ROWS FETCH NEXT @PP_RPP ROWS ONLY
	END
	

	-- ===============================

