USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_SK_CERT_INFO_EMISOR]
	@PP_L_DEBUG					INT,
	@PP_K_SISTEMA_EXE			INT,
	@PP_k_RAZON_SOCIAL			INT
AS

	SELECT C.CERTIFICADO, C.LLAVE, C.CONTRASENA, RUTA_CERTIFICADO 
	FROM CERTIFICADO C  
	INNER JOIN RAZON_SOCIAL RS 
		ON RS.K_RAZON_SOCIAL = C.K_RAZON_SOCIAL 
	WHERE RS.K_RAZON_SOCIAL = @PP_k_RAZON_SOCIAL

	-- ===============================

