USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_IN_BITACORA_SQL]    Script Date: 6/1/2020 4:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_SV_CERTCERTIFICADO_INFO]
	@PP_L_DEBUG						[INT],
	@PP_K_SISTEMA_EXE				[INT],
	@PP_K_USUARIO					[INT],
	-- ===========================================
	@PP_ID_FACTURA					[INT] OUTPUT,
	@PP_FOLIO						[INT] OUTPUT,
	@PP_K_RAZON_SOCIAL				[INT],
	@PP_K_UNIDAD_OPERATIVA			[INT],
	@PP_FOLIO_FISCAL				[VARCHAR] (50),
	@PP_NOMBRE_RECEPTOR				[VARCHAR] (250),
	@PP_RFC_RECEPTOR				[VARCHAR] (12),
	@PP_EMAIL						[VARCHAR] (255),
	@PP_TIPO_COMPROBANTE			[VARCHAR] (3),
	@PP_USO_CFDI					[VARCHAR] (10),
	@PP_SERIE						[VARCHAR] (10),
	@PP_K_ESTATUS_FACTURA			[INT],
	@PP_FECHA_CERTIFICACION			[DATETIME],
	@PP_FECHA_EMISION				[DATETIME],
	@PP_NO_CERTIFICADO_SAT			[VARCHAR] (50),
	@PP_FORMA_PAGO					[VARCHAR] (50),
	@PP_NO_CERTIFICADO_EMISOR		[VARCHAR] (50),
	@PP_METODO_PAGO					[VARCHAR] (10),
	@PP_SUB_TOTAL					[DECIMAL] (18, 2),
	@PP_SUBTOTAL_IVA				[DECIMAL] (18, 2),
	@PP_TOTAL_IVA					[DECIMAL] (18, 2),
	@PP_TOTAL						[DECIMAL] (18, 2),
	@PP_SALDO						[DECIMAL] (18, 2),
	@PP_IMPORTE_LETRA				[VARCHAR] (250),
	@PP_CADENA_CERTIFICADO_SAT		[VARCHAR] (1000),
	@PP_SELLO_DIGITAL_EMISOR		[VARCHAR] (350),
	@PP_SELLO_DIGITAL_SAT			[VARCHAR] (350),
	@PP_RFC_PROV_CERTIF				[VARCHAR] (14),
	@PP_XML							[VARCHAR] (MAX)
AS
BEGIN
	DECLARE @VP_INSERTED_ID AS INT = 0
	DECLARE @VP_FOLIO [int] = 0
	DECLARE @VP_FOLIOS_DISPONIBLES [int] = 0
	DECLARE @VP_FOLIOS_DISPONIBLES_UO [int] = 0
	DECLARE @VP_FOLIOS_COMPARTIDOS_DISPONIBLES [int] = 0
	DECLARE @VP_USAR_FOLIOS_COMPARTIDOS [bit] = 0

	IF @PP_FOLIO IS NULL OR @PP_FOLIO = 0
	BEGIN
		-- Verificar que la razon social tenga folios disponibles
		SELECT @VP_FOLIOS_DISPONIBLES = FOLIOS, @VP_FOLIOS_COMPARTIDOS_DISPONIBLES = FOLIOS_COMPARTIDOS FROM FOLIOS_DISPONIBLES
		WHERE K_RAZON_SOCIAL = @PP_K_RAZON_SOCIAL

		SELECT @VP_USAR_FOLIOS_COMPARTIDOS = USAR_FOLIOS_COMPARTIDOS, @VP_FOLIOS_DISPONIBLES_UO = FOLIOS
		FROM DISTRIBUCION_FOLIOS WHERE K_UNIDAD_OPERATIVA = @PP_K_UNIDAD_OPERATIVA
			--Si los folio de la razon social es igual a cero				  
		IF (@VP_FOLIOS_DISPONIBLES = 0 OR @VP_FOLIOS_DISPONIBLES IS NULL) 
			--Si los folios disponibles de la unidad operativa es 0 y ésta no usa folios compartidos	
			OR (@VP_FOLIOS_DISPONIBLES_UO = 0 AND @VP_USAR_FOLIOS_COMPARTIDOS = 0) 
			--Si la Unidad Operativa usa folios compartidos y estos estan en cero
			OR (@VP_FOLIOS_COMPARTIDOS_DISPONIBLES = 0 AND @VP_USAR_FOLIOS_COMPARTIDOS = 1)
		BEGIN
			SET @PP_FOLIO = -1 
		END
		ELSE IF @VP_FOLIOS_DISPONIBLES > 0 AND @VP_FOLIOS_DISPONIBLES IS NOT NULL
		BEGIN
			-- Obtener el ultimo folio para la razon social
			SELECT @VP_FOLIO = ISNULL(MAX(FOLIO)+1, 1) FROM FACTURAS
			WHERE K_RAZON_SOCIAL = @PP_K_RAZON_SOCIAL
			SET @PP_FOLIO = @VP_FOLIO
			-- Decrementar la cantidad de folios disponibles
			UPDATE FOLIOS_DISPONIBLES
				SET FOLIOS = FOLIOS - 1
			WHERE K_RAZON_SOCIAL = @PP_K_RAZON_SOCIAL
			--Si la Unidad Operativa no usa de los folios compartidos, se decrementa por uno de sus propios folios
			IF @VP_USAR_FOLIOS_COMPARTIDOS = 0
			BEGIN				
				UPDATE DISTRIBUCION_FOLIOS
					SET FOLIOS = FOLIOS - 1
				WHERE K_UNIDAD_OPERATIVA = @PP_K_UNIDAD_OPERATIVA
			END  
			--Si la Unidad Operativa usa de los folios compartidos, los folios compartidos se decrementan por uno
			ELSE 
				UPDATE FOLIOS_DISPONIBLES
					SET FOLIOS_COMPARTIDOS = FOLIOS_COMPARTIDOS - 1
				WHERE K_RAZON_SOCIAL = @PP_K_RAZON_SOCIAL
		END
	END
	IF @PP_FOLIO > 0
		BEGIN
			MERGE INTO FACTURAS AS T 
				USING (
					SELECT  @PP_ID_FACTURA, @PP_FOLIO, @PP_K_RAZON_SOCIAL, @PP_K_UNIDAD_OPERATIVA, @PP_FOLIO_FISCAL,
							@PP_NOMBRE_RECEPTOR, @PP_RFC_RECEPTOR, @PP_EMAIL, @PP_TIPO_COMPROBANTE, @PP_USO_CFDI,
							@PP_SERIE, @PP_K_ESTATUS_FACTURA, @PP_FECHA_CERTIFICACION, @PP_FECHA_EMISION,
							@PP_NO_CERTIFICADO_SAT, @PP_FORMA_PAGO, @PP_NO_CERTIFICADO_EMISOR,
							@PP_METODO_PAGO, @PP_SUB_TOTAL, @PP_SUBTOTAL_IVA,
							@PP_TOTAL_IVA, @PP_TOTAL, @PP_SALDO, @PP_IMPORTE_LETRA, @PP_CADENA_CERTIFICADO_SAT, 
							@PP_SELLO_DIGITAL_EMISOR, @PP_SELLO_DIGITAL_SAT, @PP_RFC_PROV_CERTIF, @PP_XML
				) AS S (
					ID_FACTURA, FOLIO, K_RAZON_SOCIAL, K_UNIDAD_OPERATIVA, FOLIO_FISCAL, 
					NOMBRE_RECEPTOR, RFC_RECEPTOR, EMAIL, TIPO_COMPROBANTE, USO_CFDI, 
					SERIE, K_ESTATUS_FACTURA, FECHA_CERTIFICACION, FECHA_EMISION,
					NO_CERTIFICADO_SAT, FORMA_PAGO, NO_CERTIFICADO,
					METODO_PAGO, SUB_TOTAL, SUBTOTAL_IVA,
					TOTAL_IVA, TOTAL, SALDO, IMPORTE_LETRA, CADENA_CERTIFICADO_SAT, 
					SELLO_DIGITAL_EMISOR, SELLO_DIGITAL_SAT, RFC_PROV_CERTIF, XML
				)
				ON (T.ID_FACTURA = S.ID_FACTURA)
				WHEN MATCHED THEN
					UPDATE SET  T.K_RAZON_SOCIAL = S.K_RAZON_SOCIAL,
								T.K_UNIDAD_OPERATIVA = S.K_UNIDAD_OPERATIVA,
								T.FOLIO_FISCAL = S.FOLIO_FISCAL,
								T.NOMBRE_RECEPTOR = S.NOMBRE_RECEPTOR,
								T.RFC_RECEPTOR = S.RFC_RECEPTOR,
								T.EMAIL = S.EMAIL,
								T.TIPO_COMPROBANTE = S.TIPO_COMPROBANTE,
								T.USO_CFDI = S.USO_CFDI,
								T.SERIE = T.SERIE,
								T.K_ESTATUS_FACTURA = S.K_ESTATUS_FACTURA,
								T.FECHA_CERTIFICACION = S.FECHA_CERTIFICACION,
								T.FECHA_EMISION = S.FECHA_EMISION,
								T.NO_CERTIFICADO_SAT = S.NO_CERTIFICADO_SAT,
								T.FORMA_PAGO = S.FORMA_PAGO,
								T.NO_CERTIFICADO_EMISOR = S.NO_CERTIFICADO,
								T.METODO_PAGO = S.METODO_PAGO,
								T.SUB_TOTAL = S.SUB_TOTAL,
								T.SUBTOTAL_IVA = S.SUBTOTAL_IVA,
								T.TOTAL_IVA = S.TOTAL_IVA,
								T.TOTAL = S.TOTAL,
								T.SALDO = S.SALDO,
								T.IMPORTE_LETRA = S.IMPORTE_LETRA,
								T.CADENA_CERTIFICADO_DIGITAL_SAT = S.CADENA_CERTIFICADO_SAT,
								T.SELLO_DIGITAL_EMISOR = S.SELLO_DIGITAL_EMISOR,
								T.SELLO_DIGITAL_SAT = S.SELLO_DIGITAL_SAT,
								T.RFC_PROV_CERTIF = S.RFC_PROV_CERTIF,
								T.XML = S.XML
				WHEN NOT MATCHED THEN
					INSERT  (FOLIO, K_RAZON_SOCIAL, K_UNIDAD_OPERATIVA, FOLIO_FISCAL, 
							NOMBRE_RECEPTOR, RFC_RECEPTOR, EMAIL, TIPO_COMPROBANTE, USO_CFDI, 
							SERIE, K_ESTATUS_FACTURA, FECHA_CERTIFICACION, FECHA_EMISION,
							NO_CERTIFICADO_SAT, FORMA_PAGO, NO_CERTIFICADO_EMISOR,
							METODO_PAGO, SUB_TOTAL, SUBTOTAL_IVA,
							TOTAL_IVA, TOTAL, SALDO,IMPORTE_LETRA,
							CADENA_CERTIFICADO_DIGITAL_SAT, SELLO_DIGITAL_EMISOR, 
							SELLO_DIGITAL_SAT, RFC_PROV_CERTIF, XML)
					VALUES  (S.FOLIO, S.K_RAZON_SOCIAL, S.K_UNIDAD_OPERATIVA, S.FOLIO_FISCAL, 
							S.NOMBRE_RECEPTOR, S.RFC_RECEPTOR, S.EMAIL, S.TIPO_COMPROBANTE, S.USO_CFDI, 
							S.SERIE, S.K_ESTATUS_FACTURA, S.FECHA_CERTIFICACION, S.FECHA_EMISION,
							S.NO_CERTIFICADO_SAT, S.FORMA_PAGO, S.NO_CERTIFICADO,
							S.METODO_PAGO, S.SUB_TOTAL, S.SUBTOTAL_IVA,
							S.TOTAL_IVA, S.TOTAL, S.SALDO, S.IMPORTE_LETRA,
							S.CADENA_CERTIFICADO_SAT, S.SELLO_DIGITAL_EMISOR, 
							S.SELLO_DIGITAL_SAT, S.RFC_PROV_CERTIF, S.XML);
				SET @VP_INSERTED_ID = SCOPE_IDENTITY()
				IF @VP_INSERTED_ID > 0
					SET @PP_ID_FACTURA = @VP_INSERTED_ID
		END

END
			
	-- ============================================
