USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_SK_CONCEPTOS_TRANSACCION] 
	@PP_ID_FOLIO_R				INT,
	@PP_K_UNIDAD_OPERATIVA		INT
AS
	DECLARE @linked_server VARCHAR(15);
	DECLARE @query NVARCHAR(500);
	BEGIN
		SELECT @linked_server = D_LINKED_SERVER from LINKED_SERVER where K_UNIDAD_OPERATIVA = @PP_K_UNIDAD_OPERATIVA;
		SET @query =  N'SELECT 111111111 AS claveProdServ, 
							   1111111 AS noIdentificacion,
							   cant,
							   ''LTR'' AS claveUnidad,
							   producto AS unidad,
							   ''GAS LICUADO'' AS descripcion,
							   pu AS valurUnitario,
							   total AS importe,
							   dscto AS descuento 
						FROM OPENQUERY(' + @linked_server +', ''SELECT  * FROM Liqsys.remisionesn WHERE idFolioF = '+ @PP_ID_FOLIO_R +' AND idFolioF > 0 AND edoR = "VALIDO"'')';

		EXEC sp_executesql @query;
	END

	-- ===============================

