USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_UP_USUARIO_V2] 
	@PP_ID_USUARIO		INT OUTPUT,
	@PP_NOMBRE_USUARIO  VARCHAR(15),
	@PP_CORREO			VARCHAR(100),
	@PP_CONTRASENA		VARCHAR(256),
	@PP_NOMBRE			VARCHAR(75),
	@PP_APELLIDO_P		VARCHAR(30),
	@PP_APELLIDO_M		VARCHAR(30)
AS
	BEGIN

		UPDATE USUARIOS
		SET 
			NOMBRE = @PP_NOMBRE,
			APELLIDO_P= @PP_APELLIDO_P,
			APELLIDO_M = @PP_APELLIDO_M
		WHERE ID_USUARIO = @PP_ID_USUARIO

	END
	

	-- ===============================

