USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_UP_FOLIO] 
	@PP_ID_FOLIO		INT,
	@PP_K_RAZON_SOCIAL  INT,
	@PP_FOLIOS			INT
AS
	BEGIN

		UPDATE FOLIOS_DISPONIBLES
		SET 
			FOLIOS = FOLIOS + @PP_FOLIOS
		WHERE ID_FOLIO_DISPONIBLE = @PP_ID_FOLIO

	END
	

	-- ===============================

