USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_UP_ZONA]
	@PP_K_ZONA				INT,
	@PP_ZONA_NOMBRE			VARCHAR(100),
	@PP_DESCRIPCTION		VARCHAR(500),
	@PP_IDENTIFICADOR		VARCHAR(10)
AS
	BEGIN		
		UPDATE ZONA_UO SET			
			D_ZONA_UO = @PP_ZONA_NOMBRE, C_ZONA_UO = @PP_DESCRIPCTION,
			S_ZONA_UO = @PP_IDENTIFICADOR,
			K_USUARIO_CAMBIO = 0, F_CAMBIO = GETDATE()
		WHERE K_ZONA_UO = @PP_K_ZONA
		
	END;

	-- ===============================

