USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_IN_BITACORA_SQL]    Script Date: 6/1/2020 4:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[PG_UP_CANCELAR_FACTURA]
	@PP_L_DEBUG						[INT],
	@PP_K_SISTEMA_EXE				[INT],
	@PP_K_USUARIO					[INT],
	-- ===========================================
	@PP_SERIE						[VARCHAR] (10),
	@PP_FOLIO						[INT]
AS
BEGIN
	
	DECLARE @VP_K_RAZON_SOCIAL INT = 0
	DECLARE @VP_K_UNIDAD_OPERATIVA INT = 0
	DECLARE @VP_USAR_FOLIOS_COMPARTIDOS BIT = 0

	SELECT @VP_K_RAZON_SOCIAL = K_RAZON_SOCIAL, @VP_K_UNIDAD_OPERATIVA = K_UNIDAD_OPERATIVA 
	FROM FACTURAS 
	WHERE FOLIO = @PP_FOLIO AND SERIE = @PP_SERIE

	SELECT @VP_USAR_FOLIOS_COMPARTIDOS = USAR_FOLIOS_COMPARTIDOS FROM DISTRIBUCION_FOLIOS

	UPDATE FACTURAS SET
		K_ESTATUS_FACTURA = 6
	WHERE FOLIO = @PP_FOLIO AND SERIE = @PP_SERIE

	UPDATE FOLIOS_DISPONIBLES SET
		FOLIOS = FOLIOS + 1
	WHERE K_RAZON_SOCIAL = @VP_K_RAZON_SOCIAL	
	
	IF @VP_USAR_FOLIOS_COMPARTIDOS = 1
		UPDATE FOLIOS_DISPONIBLES
			SET FOLIOS_COMPARTIDOS = FOLIOS_COMPARTIDOS + 1
		WHERE K_RAZON_SOCIAL = @VP_K_RAZON_SOCIAL
	ELSE
		UPDATE DISTRIBUCION_FOLIOS
			SET FOLIOS = FOLIOS + 1
		WHERE K_UNIDAD_OPERATIVA = @VP_K_UNIDAD_OPERATIVA
	

END
			
	-- ============================================
