USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_UP_RAZON_SOCIAL_V2]
	@PP_K_RAZON_SOCIAL		INT,
	@PP_RAZON_SOCIAL		VARCHAR (100),
	@PP_NOMBRE_CORTO		VARCHAR (100),
	@PP_IDENTIFICADOR		VARCHAR (100),
	@PP_RFC					VARCHAR (14),
	@PP_CURP				VARCHAR (100),
	@PP_CORREO				VARCHAR (100),
	@PP_TELEFONO			VARCHAR (100),
	@PP_CALLE				VARCHAR (255),
	@PP_NUMERO_EXTERIOR		VARCHAR (10),
	@PP_NUMERO_INTERIOR		VARCHAR (10),
	@PP_COLONIA				VARCHAR (100),
	@PP_CODIGO_POSTAL		VARCHAR (10),
	@PP_MUNICIPIO			VARCHAR (100)
AS
	BEGIN

		UPDATE RAZON_SOCIAL
		SET
			D_RAZON_SOCIAL = @PP_NOMBRE_CORTO, S_RAZON_SOCIAL = @PP_IDENTIFICADOR,
			RAZON_SOCIAL = @PP_RAZON_SOCIAL, RFC_RAZON_SOCIAL = @PP_RFC,
			CURP = @PP_CURP, CORREO = @PP_CORREO,
			TELEFONO = @PP_TELEFONO, CALLE = @PP_CALLE,
			NUMERO_EXTERIOR = @PP_NUMERO_EXTERIOR, NUMERO_INTERIOR = @PP_NUMERO_INTERIOR,
			COLONIA = @PP_COLONIA, POBLACION = '',
			CP = @PP_CODIGO_POSTAL, MUNICIPIO = @PP_MUNICIPIO,
			K_USUARIO_CAMBIO = 1, F_CAMBIO = GETDATE()
		WHERE K_RAZON_SOCIAL = @PP_K_RAZON_SOCIAL

	END;

	-- ===============================

