USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_UP_SERIE] 
	@PP_ID_SERIE		INT,
	@PP_K_RAZON_SOCIAL  INT,
	@PP_TIPO_VENTA		VARCHAR(1),
	@PP_SERIE			VARCHAR(10)
AS
	BEGIN

		UPDATE SERIES
		SET 
			K_RAZON_SOCIAL = @PP_K_RAZON_SOCIAL,
			TIPO_VENTA = @PP_TIPO_VENTA,
			SERIE = @PP_SERIE
		WHERE ID_SERIE = @PP_ID_SERIE

	END
	

	-- ===============================

