USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_UP_UNIDAD_OPERATIVA_V2]
	@PP_K_UNIDAD_OPERATIVA		INT,
	@PP_UNIDAD_OPERATIVA_NOMBRE	VARCHAR(100),
	@PP_DESCRIPCTION			VARCHAR(500),
	@PP_IDENTIFICADOR			VARCHAR(10),
	@PP_TELEFONO				VARCHAR(20),
	@PP_CALLE					VARCHAR(100),
	@PP_NUMERO_EXTERIOR			VARCHAR(10),
	@PP_NUMERO_INTERIOR			VARCHAR(10),
	@PP_COLONIA					VARCHAR(100),
	@PP_POBLACION				VARCHAR(100),
	@PP_CODIGO_POSTAL			VARCHAR(10),
	@PP_MUNICIPIO				VARCHAR(100),
	@PP_K_ZONA					INT,
	@PP_K_RAZON_SOCIAL			INT,
	@PP_K_SERVIDOR				INT
AS
	BEGIN
		
		UPDATE UNIDAD_OPERATIVA SET
			D_UNIDAD_OPERATIVA = @PP_UNIDAD_OPERATIVA_NOMBRE, C_UNIDAD_OPERATIVA = @PP_DESCRIPCTION,
			S_UNIDAD_OPERATIVA = @PP_IDENTIFICADOR, O_UNIDAD_OPERATIVA = 0, L_UNIDAD_OPERATIVA = 1,
			K_TIPO_UO = 0, K_ZONA_UO = @PP_K_ZONA, ICS_sucursalId = 0,
			K_SERVIDOR = @PP_K_SERVIDOR, K_RAZON_SOCIAL = @PP_K_RAZON_SOCIAL, K_REGION = 0,
			PERMISO_CRE = '', TELEFONO = @PP_TELEFONO, CALLE = @PP_CALLE,
			NUMERO_EXTERIOR = @PP_NUMERO_EXTERIOR, NUMERO_INTERIOR = @PP_NUMERO_INTERIOR, COLONIA = @PP_COLONIA,
			POBLACION = @PP_POBLACION, CP = @PP_CODIGO_POSTAL, MUNICIPIO = @PP_MUNICIPIO,
			CAPACIDAD_ALMACEN_LITROS = 0, NIVEL_ALMACEN_LITROS = 0, UTILIZACION_ALMACEN = 0,
			K_USUARIO_ALTA = 0, F_ALTA = GETDATE(), K_USUARIO_CAMBIO = 0,
			F_CAMBIO = GETDATE(), L_BORRADO = 0
		WHERE K_UNIDAD_OPERATIVA = @PP_K_UNIDAD_OPERATIVA
	END;

	-- ===============================

