USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_UP_USO_CFDI] 
	@PP_USO_CFDI		VARCHAR(3),
	@PP_DESCRIPCRION	VARCHAR(100),
	@PP_EXPLICACION 	VARCHAR(200),
	@PP_FISICA			BIT,
	@PP_MORAL			BIT
AS

	BEGIN
		UPDATE USO_CFDI SET
			DESCRIPCION = @PP_DESCRIPCRION,
			EXPLICACION = @PP_EXPLICACION,
			FISICA = @PP_FISICA,
			MORAL = @PP_MORAL
		WHERE USO_CFDI = @PP_USO_CFDI
	END

	-- ===============================

