USE [CFD19_GestionCFDi_V9999_R0]
GO
/****** Object:  StoredProcedure [dbo].[PG_SK_CERT_INFO_EMISOR]    Script Date: 6/1/2020 10:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[PG_UP_CERTIFICADO] 
	@PP_ID_CERTIFICADO		INT,
	@PP_D_CERTIFICADO		VARCHAR(100),
	@PP_C_CERTIFICADO		VARCHAR(255),
	@PP_CERTIFICADO			VARCHAR(100),
	@PP_RUTA_CERTIFICADO	VARCHAR(100),
	@PP_LLAVE				VARCHAR(100),
	@PP_CONTRASENA			VARCHAR(100),
	@PP_LOGO				VARCHAR(100),
	@PP_FECHA_EXPIRACION    DATETIME
AS
	BEGIN

		UPDATE CERTIFICADO
		SET 
			D_CERTIFICADO = @PP_D_CERTIFICADO,
			C_CERTIFICADO = @PP_C_CERTIFICADO,
			CERTIFICADO = @PP_CERTIFICADO,
			LLAVE = @PP_LLAVE,
			CONTRASENA = @PP_CONTRASENA,
			LOGO = @PP_LOGO,
			RUTA_CERTIFICADO = @PP_RUTA_CERTIFICADO,
			FECHA_EXPIRACION = @PP_FECHA_EXPIRACION,
			K_USUARIO_CAMBIO = 1,
			F_CAMBIO = GETDATE()
		WHERE K_CERTIFICADO = @PP_ID_CERTIFICADO

	END
	

	-- ===============================

